<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <!--
    <header>
      <div class="">
        Logo
      </div>
      <div class="">
        navigation
      </div>
    </header>
    -->
    <main>
      <section>
        <form class="" onsubmit="return Client.handleTextSubmit(event)">
          <div>Please enter below a text to be analyzed. The text has to be max 144 characters</div>
          <input id="text" type="text" name="text" value="Enter text here" placeholder="Text" />
          <div id="textErrors" style="display: none;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">close &times;</span>
            <div id="textError"></div>
          </div>
          <input type="submit" name="" value="submit" onclick="return Client.handleTextSubmit(event)" onsubmit="return Client.handleTextSubmit(event)" />
        </form>
      </section>

      <section>
        <form class="" onsubmit="return Client.handleUrlSubmit(event)">
          <div>Please enter below a valid URL to be analyzed</div>
          <input id="url" type="text" name="url" value="Enter URL here" placeholder="URL" />
          <div id="urlErrors" style="display: none;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">close &times;</span>
            <div id="urlError"></div>
          </div>
          <input type="submit" name="" value="submit" onclick="return Client.handleUrlSubmit(event)" onsubmit="return Client.handleUrlSubmit(event)" />
        </form>
      </section>

      <section>
        <strong>Sentiment analysis results</strong>
        <div id="analized"></div>
        <div id="polarity"></div>
        <div id="subjectivity"></div>
      </section>
    </main>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
